{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patients liste</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                 <th>Prenome</th>
                <th>Avs</th>
                <th>Date Naissance</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.nome }}</td>
                <td>{{ patient.prenome }}</td>
                <td>{{ patient.avs }}</td>
                <td>{{ patient.dateNaissance ? patient.dateNaissance|date('d.m.Y') : '' }}</td>
                
                <td>
                    <a href="{{ path('patient_show', {'id': patient.id}) }}"><button  class="btn btn-success">show</button></a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 


    <h2>Create new Patient</h2>

    {{ include('patient/_form.html.twig') }}

    


{% endblock %}
