{% extends 'base.html.twig' %}

{% block title %}Edit Hopital{% endblock %}

{% block body %}
 

    <h1>Edit Hopital</h1>
    {{ include('hopital/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('hopital_index') }}">back to list</a>
    {{ include('hopital/_delete_form.html.twig') }}

    {% for chambre in hopital.chambres %}
          <ul>
            <li>{{ chambre.nome }}</li>
          </ul>
            <a href="{{ path('chambre_edit', {'id': chambre.id}) }}">Edit chambre</a>
          

    {% endfor  %}

   
{% endblock %}
