{% extends 'base.html.twig' %}

{% block title %}Hopital index{% endblock %}

{% block body %}

   
     <h1>Hopitaux</h1>
    
    
    


    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
        {% for hopital in hopitals %}
            <tr>
               
                <td>{{ hopital.nome }}</td>
               
                <td>
                    <a href="{{ path('hopital_show', {'id': hopital.id}) }}"><button type="button" class="btn btn-success">show</button</a>
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
{% endblock %}
