{% extends 'base.html.twig' %}

{% block title %}Hopital{% endblock %}

{% block body %}
    <h1>Hopital</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hopital.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ hopital.nome }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ hopital.adresse }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ hopital.code }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ hopital.Ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ hopital.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hopital_index') }}">back to list</a>
    <br>
    <br>
    

    <a href="{{ path('hopital_edit', {'id': hopital.id}) }}"><button  class="btn btn-success">edit</button></a>
    <br><br>

    {{ include('hopital/_delete_form.html.twig') }}
     <h2>Liste des Chambre</h2>
  <ul>
     {% for chambre in hopital.chambres %}
       <li>{{ chambre.nome }}</li>
          {% for admission in chambre.admissions %} 

                <ul>
                    <li> Date d'entrée : {{admission.dateDebut|date('d.m.Y')}}
                        <ul>
                            <li> patient : {{admission.patient}}</li>
                             <a href="{{ path('patient_show', {'id' : admission.patient.id})}} ">voire plus info sur le patient</a>
                        </ul>
                
                    </li>
                </ul> 
           
                
           {% endfor  %}
    {% endfor  %}
     </ul>
{% endblock %}
