<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
    <header>
     <div class="container">
        {% block menu %}
            <nav >
            <br>
             <br>
              <br>
               <br>
                <ul >
                    <li><a  href="{{ path('patient_index') }}"> Liste des patients </a></li>
                    <li><a  href="{{ path('hopital_index') }}"> Liste des hôpitaux  </a></li>
                    <li><a  href="{{ path('admission_index') }}"> Liste des admissions  </a></li>
                </ul>
            </nav>
        {% endblock %}
    </header>
    </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>