<form method="post" action="{{ path('admission_cloture', {'id': admission.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir clôre cette admission');">
    <input type="hidden" name="_token" value="{{ csrf_token('cloture' ~ admission.id) }}">
    <button class="btn btn-secondary">Clôre Admission</button>
</form>
