{% extends 'base.html.twig' %}

{% block title %}Admission index{% endblock %}

{% block body %}

    <h1>Liste Admissions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Date De Debut</th>
                <th>Date De Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for admission in admissions %}
                <tr>
                    <td>{{ admission.dateDebut|date('Y-m-d H:i:s')}}</td>
                    {% if admission.dateFin == null %}
                        <td>En cours</td>
                        <td>{{ include('admission/_delete_form.html.twig')  }}</td>
                    {% else %}
                        <td>{{admission.dateFin|date('Y-m-d H:i:s')}}</td>
                    {% endif %}
                </tr>
            {% endfor %}     
        </tbody>
    </table>
{% endblock %}
